<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>A_Contact</display-name>
  <servlet>
    <servlet-name>ListContactServlet</servlet-name>
    <servlet-class>com.menger.servlet.ListContactServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddContactServlet</servlet-name>
    <servlet-class>com.menger.servlet.AddContactServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryContactServlet</servlet-name>
    <servlet-class>com.menger.servlet.QueryContactServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateContactServlet</servlet-name>
    <servlet-class>com.menger.servlet.UpdateContactServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteContactServlet</servlet-name>
    <servlet-class>com.menger.servlet.DeleteContactServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.menger.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.menger.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>com.menger.servlet.DetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotoServlet</servlet-name>
    <servlet-class>com.menger.servlet.PhotoServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ListContactServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddContactServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryContactServlet</servlet-name>
    <url-pattern>/query</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateContactServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteContactServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoServlet</servlet-name>
    <url-pattern>/photo</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>